/* Fonts added */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

/* Universal Styles */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: antiquewhite;
}

/* Navbar Styling */
nav
{
    font-family: 'Ubuntu', sans-serif;
}

nav ul
{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
}

.brand img
{
    width: 50px;
}