/* Fonts added */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


/* Universal Styles */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: antiquewhite;
}


/* Navbar Styling */

nav
{
    font-family: 'Ubuntu', sans-serif;
}

nav ul
{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}
.nav li
{
    padding: 0 12px;
}

.brand img
{
    width: 50px;
    padding: 0 8px;
}

.brand
{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}


/* Progress bar styling */

.container
{
    min-height: 73vh;
}

.bottom
{
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: black;
    bottom: 0;
}